<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<context:component-scan base-package="com.qphone.service"/>
	
	
	<!-- 定义服务提供者者在dubbo中的名称 -->
	<dubbo:application name="T1DubboSSMService"/>
	
	<!-- 配置dubbo协议，dubbo，RMI,hession -->
	<dubbo:protocol name="dubbo" port="20880"/>
	
	<!-- 完成dubbo注册 -->
	<dubbo:registry  address="zookeeper://10.12.153.40:2181"/>
	
	<!-- 将接口暴露给消费方 -->
	<dubbo:service interface="com.qphone.service.IDeptService" ref="deptServiceImpl"></dubbo:service>
</beans>
